.loading-bar-container {
  width: 100%;
  height: 4px;
  background: #eee;
  overflow: hidden;
  margin-bottom: 16px;
}
.loading-bar {
  width: 40%;
  height: 100%;
  background: #1976d2;
  animation: loading-indeterminate 1s infinite linear;
}
@keyframes loading-indeterminate {
  0% { margin-left: -40%; }
  100% { margin-left: 100%; }
}