# docker-compose.yml

services:
  web: # Nombre de tu servicio Django (puedes llamarlo app, backend, etc.)
    build: . # Le dice a Docker Compose que construya la imagen desde el Dockerfile en el directorio actual
    command: python manage.py runserver 0.0.0.0:8000 # El comando que ejecuta Django
    volumes:
      - .:/app # Monta el directorio actual del proyecto en /app dentro del contenedor
               # Esto permite que los cambios en tu código local se reflejen sin reconstruir la imagen
    ports:
      - "8000:8000" # Mapea el puerto 8000 del host al puerto 8000 del contenedor
  db:
    image: postgres:15
    container_name: postgres_db
    volumes:
      - pg_data:/var/lib/postgresql/data/ # Monta un volumen para persistir los datos de la DB
    environment: # Variables de entorno para configurar PostgreSQL
      - POSTGRES_DB=mydatabase
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432" # Mapea el puerto 5432 del host al puerto 5432 del contenedor

  cypress:
    image: cypress/included:12.17.4
    container_name: cypress
    working_dir: /e2e
    volumes:
      - ./pokemon-tcg-frontend:/e2e
    depends_on:
      - web
      - frontend
    network_mode: host
    environment:
      - CYPRESS_baseUrl=http://localhost:4173
    command: ["npx", "cypress", "run"]

  frontend:
    build:
      context: ./pokemon-tcg-frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "4173:4173"
    depends_on:
      - web

volumes: # Definición de los volúmenes nombrados
  pg_data: # Volumen para los datos persistentes de PostgreSQL

